body {
    background-color: #161748; /* light blue background */
}
h1 {
    text-align: center;
    color: gold;
    text-shadow: 1px -1px 1px white;
}
#pokeCardContainer {
    width: 80%;
    gap: 60px;
    text-align: center;
    display: grid;
    justify-content: center;
    margin: 0 auto; /* center the whole dex */
    grid-template-columns: repeat(4, 200px);
}

.pokemonCard {
    background-color: #2ad1f2;
    border: 1px solid white;
    border-radius: 5%;
    height: 250px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pokemonCard h2 {
    color: black;
    text-shadow: 0px -1px 1px black;
}
