body {
    background-color: #161748; /* light blue background */
}
h1 {
    text-align: center;
    color: gold;
    text-shadow: 1px -1px 1px white;
}
#gameBoard{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap:40px;
    justify-content: center;
}
.dexBoard {
    text-align: center;
    width: 700px;
}
.pokeCardContainer {
    padding: 10px;
    background-color: #9bc400;
    gap: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* center the whole dex */
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 250px);
}

.pokemonCard {
    background-color: #2ad1f2;
    border: 1px solid white;
    border-radius: 5%;
    height: 250px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pokemonCard h2 {
    color: black;
    text-shadow: 0px -1px 1px black;
}

.dexBoard .winnerMessage{
    background-color: gold;
    text-align: center;
    margin: 0px auto;
    font-weight: bold;
    font-size: 30px;
}
